<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>
<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>

    <div *ngIf="clientes?.length === 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <!-- *ngIf primero ve si existe la propiedad length (?) luego ve si su valor es mayor a cero -->
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRole('ROLE_USER')">
            <img class="img-thumbnail rounded" alt="Foto cliente" *ngIf="cliente?.foto; else Else" [src]="urlImgEndPoint + cliente.foto" (click)="abrirModal(cliente)" />
            <ng-template #Else>
              <img class="img-thumbnail rounded" alt="Sin foto" src="http://localhost:8080/images/no_usuario.png" (click)="abrirModal(cliente)" />
            </ng-template>
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button class="btn btn-warning btn-sm" type="button" [routerLink]="['/clientes/form', cliente.id]">editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button class="btn btn-danger btn-sm" type="button" (click)="delete(cliente)">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
  </div>
</div>
