<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>

    <div *ngIf="clientes?.length === 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <!-- *ngIf primero ve si existe la propiedad length (?) luego ve si su valor es mayor a cero -->
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th scope="row">{{ cliente.id }}</th>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy" }}</td>
          <td>
            <button class="btn btn-warning btn-sm" type="button" [routerLink]="['/clientes/form', cliente.id]">editar</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" type="button" (click)="delete(cliente)">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator></app-paginator>
  </div>
</div>
