<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre*:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" #nombre="ngModel" /> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              El campo nombre es requerido.
            </div>
            <div *ngIf="nombre.errors.minlength">
              El campo nombre debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido*:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="cliente.apellido" #apellido="ngModel" /> <!--  required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              El campo apellido es requerido.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email*:</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel" /> <!--  required email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              El campo email es requerido.
            </div>
            <div *ngIf="email.errors.email">
              El campo debe ser de tipo email.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha*:</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" id="createAt" name="createAt" [(ngModel)]="cliente.createAt" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Actualizar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
